[Desktop Entry]
Type=Application
Exec=redshift -l 23.0:72.6 -t 5000:5000 -g 0.9 -m randr -v
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=redshift
Name=redshift
Comment[en_US]=
Comment=
