[Desktop Entry]
Type=Application
Exec=xset r 66
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Make backspace repetative
Name=Make backspace repetative
Comment[en_US]=
Comment=
